*{
    box-sizing: border-box;
}

.login-form__section {
    width: 90vw;
    max-width: 400px;
    background-color: #ebb002;
    margin: 48px auto;
    text-align: center;
    padding: 8px 8px 2px 8px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 1rem;   
}

.login-form__title{
    font-size: 1.5rem;
}

.login-form__form {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.login-form__form input {
    height: 2rem;
    background-color: rgb(243, 228, 184);
    margin: 8px 16px 16px 16px;
    border-radius: 8px;
    border: 1px solid #D48C08;
    font-size: 1rem;
    font-weight: lighter;
}

.login-form__form input:focus {
    outline: 1px solid #D48C08;
}

.login-form__login-button{
    height: 2.5rem;
    margin: 8px 25%;
    border: none;
    border-radius: 4px;
    background-color: #9E7701;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.login-form__login-button:hover,
.login-form__login-button:active{
    background-color: #9e7701b3;
}

.login-form__toggle-button {
    margin-top: 8px;
    width: fit-content;
    background-color: transparent;
    border: none;
    color: #9E7701;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}

.login-form__toggle-button:hover,
.login-form__toggle-button:active{
    color: #9e7701b3;
}

.login-form__form input.invalid {
    border-color: red;
}
.login-form__form p  {
    margin: -0.75rem 0 8px 0;
    color: red;
    font-size: 1rem;
    font-weight: lighter;
}

.login-form__login-button:disabled{
    background-color: rgba(77, 77, 77, 0.171);
    color: rgba(110, 110, 110, 0.37);
    border-color: #ccc;
    cursor: not-allowed;
}

@media (max-width:768px) {
    .login-form__title {
        font-size: 1rem;
    }
}