* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  margin: 0;
  box-sizing: border-box;
  height: 4rem;
  width: 100vw;
  max-width: 100%;
  background-color: #ebb002;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.nav-button--menu {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
  margin: 0;
  height: 100%;
}

.nav-button--title {
  background-color: transparent;
  border: none;
  margin: 0 8px;
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-button {
  background-color: transparent;
  border: none;
  margin: 0 8px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover,
.nav-button:active,
.nav-button--title:hover,
.nav-button--title:active {
  color: #f6eb0a;
}

@media (max-width: 760px) {
  .header {
    justify-content: center;
  }
  .nav-button--title {
    font-size: 1.5rem;
  }

  .nav-button {
    display: none;
  }

  .nav-button--menu {
    display: block;
    position: absolute;
    margin-left: -80%;
  }
}
